/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background: url(./img/headerbg.jpg) 50% 80% / cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 30px 12px 30px;
}

nav > img {
  width: 100px;
  padding-top: 5px;
}

#menu {
  padding: 0 0 10px 0;
}

#menu li a {
  font: bold 1em "Proxima Nova";
  color: #fff;
}

#search {
  display: flex;
  padding-top: 4px;
}

button img {
  height: 15px;
}

#search button,
#search input {
  background-color: rgba(256, 256, 256, 0.5);
  border: 0;
  padding: 8px 15px;
  outline: none;
}

#search button {
  border-radius: 0 19px 19px 0;
}

#search input {
  border-radius: 19px 0 0 19px;
  width: 150px;
}

h1 {
  font: bold 2em Montserrat;
  color: #fff;
  margin-bottom: 10px;
}

#mainhead button {
  font: 1em "Proxima Nova";
  color: #fff;
  background-color: #53d153;
  border: 0;
  text-transform: uppercase;
  border-radius: 26px;
  padding: 10px 20px;
}

header > a {
  background-color: rgba(256, 256, 256, 0.7);
  padding: 6px 16px 6px 10px;
  border-radius: 15px;
  font: 1em "Proxima Nova";
  color: #111;
  width: 135px;
}

section {
  padding: 40px 0 60px 0;
}

section:nth-child(2) {
  background-color: #54d154;
}

section:nth-child(4) {
  background-color: #f2f1f1;
}

section:last-child {
  background-color: #53d153;
  padding-bottom: 0;
}

section h2 {
  font: 1.25em Montserrat;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #828181;
}

section:nth-child(2) h2,
section:nth-child(5) h2 {
  color: #207b20;
}

section hr {
  border: 0;
  border-bottom: 2px solid #818181;
  width: 43px;
  margin: 10px auto;
}

section:nth-child(2) hr,
section:nth-child(5) hr {
  color: #1f7b1f;
}

section:nth-child(2) h6,
section:nth-child(5) h6 {
  color: #2b9b2b;
}

section h6 {
  font: 1em "Open Sans";
  color: #b7b3b3;
  padding-bottom: 20px;
  padding: 0 10px;
}

section h2,
section h6 {
  text-align: center;
}

.row {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: 280px;
  text-align: center;
  padding-top: 40px;
}

article i {
  color: #53d153;
  font-size: 3em;
  padding: 30px;
  background-color: #e0f3e0;
  border-radius: 30px;
}

article h3 {
  font: bold 1.5em "Proxima Nova";
  color: #828181;
  padding: 20px 0;
}

article p {
  font: 1em Montserrat;
  color: #828181;
  padding-bottom: 25px;
}

article a {
  font: bold 1em "Proxima Nova";
  color: #fff;
  padding: 8px 20px;
  background-color: #53d153;
  border-radius: 20px;
  display: inline-block;
}

#btns {
  display: flex;
  justify-content: center;
}

#btns button {
  background-color: #fff;
  border: 1px solid #2b9b2b;
  padding: 5px 12px;
  font: 1em "Proxima Nova";
  color: #2b9b2b;
}

#btns button:first-child {
  border-radius: 20px 0 0 20px;
  background-color: #2b9b2b;
  color: #fff;
}

#btns button:last-child {
  border-radius: 0 20px 20px 0;
}

#btns button:hover {
  background-color: #2b9b2b;
  color: #fff;
}

#fleximg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
}

#fleximg img {
  width: 100%;
  max-width: 550px;
  height: 50vh;
  padding: 5px 10px;
}

#text {
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px auto 18px auto;
  padding: 0 10px;
}

#text p,
#text h3 {
  font: 1em "Proxima Nova";
  color: #444;
}
#text p:nth-child(2) {
  max-width: 500px;
  text-align: center;
  margin: 0 20px 0;
}

#text i {
  color: #e0dfdf;
  font-size: 1.25em;
}
#ceo {
  display: flex;
  justify-content: center;
}

#ceopic {
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

#ceo h3 {
  font: 1em "Proxima Nova";
  color: #444;
  margin-bottom: 3px;
}

#ceo h5 {
  font-size: bold 1em "Proxima Nova";
  color: #ccc;
}

section #read {
  font: bold 1em "Proxima Nova";
  color: #fff;
  padding: 8px 20px;
  background-color: #2b9b2b;
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 155px;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 47px 0 60px 0;
}

.fimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px;
}

section #anchor {
  font: 1.1em "Proxima Nova";
  color: #a59d9d;
  padding: 8px 20px;
  background-color: #dddcdc;
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 155px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 830px;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 40px;
}
.item {
  max-width: 130px;
  margin: 0 20px 0 20px;
}

.circle {
  width: 124px;
  height: 124px;
  border-radius: 62px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

#line {
  width: 2px;
  height: 77px;
  background-color: #1f7b1f;
}

.item {
  padding: 10px 0;
}

.item h5 {
  font: 1em "Proxima Nova";
  color: #ffffff;
  text-align: center;
  padding-bottom: 12px;
}
.socicons {
  width: 84px;
  height: 28px;
  border-radius: 14px;
  background-color: #c5e9c5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.socicons i {
  font-size: 20px;
  color: #e94b89;
  margin: 3px;
}

.socicons img {
  width: 20px;
  height: 20px;
}

#buttonddiv {
  background-color: #3eba3e;
  text-align: center;
  margin-top: 40px;
}

#buttonddiv button {
  font: 1em "Proxima Nova";
  color: #fff;
  background-color: #53d153;
  border: 0;
  text-transform: uppercase;
  border-radius: 26px;
  margin: 25px auto;
  padding: 15px 20px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #000;
}

.f-col {
  max-width: 330px;
  margin: auto;
}
.f-col {
  padding: 15px 10px;
}
.f-row h3 {
  font: 1em Montserrat;
  letter-spacing: 3px;
  color: #ddd;
  text-align: center;
}

.f-row hr {
  border: 0;
  border-top: 2px solid #ddd;
  width: 30px;
  margin: 5px auto 15px auto;
}

.f-row p {
  font: 1em "Proxima Nova";
  color: #ccc;
  text-align: center;
  padding-bottom: 3px;
}

.post img {
  width: 52px;
  height: 52px;
  border-radius: 5px;
  margin-right: 7px;
}
.post h4 {
  font: 1em Montserrat;
  color: #ccc;
  padding-bottom: 5px;
}
.post h6 {
  font: 0.8em Montserrat;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 7px;
  display: inline-block;
  border-radius: 3px;
}
.post {
  display: flex;
  padding-bottom: 10px;
}
#green {
  background-color: #53d153;
}
#yellow {
  background-color: #ffba00;
}
#blue {
  background-color: #089cea;
}
#orange {
  background-color: #f34c03;
}
#yellow {
  background-color: #ffba00;
}

#forum {
  display: flex;
  flex-direction: column;
  max-height: 230px;
}
#forum input,
#forum textarea,
#forum button {
  display: inline-block;
  padding: 10px 13px;
  outline: none;
}

#forum input,
#forum textarea {
  background-color: #434343;
  margin-bottom: 2px;
  border: 0;
}

#forum input:first-child {
  border-radius: 4px 0;
}

#forum button {
  background-color: #2b9b2b;
  border: 0;
  border-radius: 0 0 4px 4px;
  font: 0.9em "Proxima Nova";
  color: #fff;
}

.f-media {
  background-color: #212121;
}
.f-media h3 {
  font: 1em Montserrat;
  letter-spacing: 3px;
  color: #101010;
  text-align: center;
}

.f-media hr {
  border: 0;
  border-top: 2px solid #0f0f0f;
  width: 30px;
  margin: 5px auto 15px auto;
}

.media-row #imgs {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}
.media-row #imgs img {
  max-width: 300px;
}
.media {
  width: 200px;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.media:last-child {
  width: 300px;
}

.f-maker {
  padding: 7px 0;
}

.f-maker p {
  font: 1em "Proxima Nova";
  color: #fff;
  text-align: center;
}

/* Responsive Design */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.4em;
  }

  #mainhead button {
    font-size: 1.4em;
    border-radius: 28px;
    padding: 14px 27px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #menu {
    display: flex;
    order: -1;
  }

  #menu li {
    margin-right: 18px;
    margin-top: 10px;
  }

  #menu li:first-child {
    border-top: 5px solid #53d153;
    margin-top: 5px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1055px;
    width: 100%;
    margin: auto;
  }

  article {
    margin: 0 50px;
  }

  #btns button {
    padding: 10px 20px;
  }

  #fleximg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 920px;
  }

  #fleximg img {
    width: 160px;
    height: 160px;
    margin: 4px;
  }

  #icons {
    margin: 30px auto 40px auto;
  }
  #icons .fimg {
    max-width: 160px;
  }

  .f-row {
    display: flex;
    justify-content: center;
  }
  .f-col {
    margin: 0 30px;
  }

  .media:last-child {
    margin-left: 30px;
  }

  .media {
    justify-content: start;
  }
}
